.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 12px;
}

.loading-container:hover {
  background-color: white;
}
.loading-spinner {
  width: 20px;
  height: 20px;
  border: 3px solid var(--color-primary);
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
